extends layout
include templates/navbar


block content
	+nav(title, level)
	div.container
		.content-wrapper
			h1= title
			p Get picking!
			br
			each val in routes
				.alert.alert-danger.alert-dismissible(role="alert")
					button(type="button" class="close" data-dismiss="alert" aria-label="Close")
						span(aria-hidden="true") &times; 
					span Route created on #{val.date} still has #{val.left} item(s) left for picking!
				
