doctype
html
 head
    title=title
    
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css')
    link(rel='stylesheet', href='//cdn.datatables.net/responsive/2.0.0/css/responsive.bootstrap.min.css')
    link(rel='stylesheet', href='/datatables/media/css/dataTables.bootstrap.css')
    link(rel='stylesheet', href='/css/custom.css')

    script(src='/datatables/dependencies/jquery/dist/jquery.min.js')
    script(src='/datatables/media/js/jquery.dataTables.min.js')
    script(src='/datatables/media/js/dataTables.bootstrap.js')

    script(src='//cdn.datatables.net/responsive/2.0.0/js/dataTables.responsive.min.js')
    script(src='//cdn.datatables.net/responsive/2.0.0/js/responsive.bootstrap.min.js')

    script(src='/js/bootstrap.min.js')
    script(src='/js/datatable.support.js')
  body
    block content
