extends layout
include templates/navbar

block content
  +navGuest(login)
  .login-wrapper.content-wrapper
  #logo-big
   img(src="images/logo.svg")#main-logo-big
  form(action="/api/auth/login", id="loginForm" method="POST").login-form
    .input-group
      span.input-group-addon
        i.glyphicon.glyphicon-user
      input(type="text" placeholder="Username" id="username" name="username" required).form-control
    br
    .input-group
      span.input-group-addon
        i.glyphicon.glyphicon-lock
      input(type="password" placeholder="Password" id="password" name="password" required).form-control
    br
    .input-group
      input(type="submit" value="Log in" id="loginBtn").btn.btn-success 
