extends layout
include templates/navbar

script(src='/js/picking.js')

mixin linha(s)
  tr
    td 
      input(type='checkbox')
    td -- TBD --
    td -- TBD --
    td #{s.item}
    td #{s.order}

mixin actions(cod)
  a(href='#', onclick='removeFromShoppingCart("#{cod}"); return false;')
    span.glyphicon.glyphicon-plus(aria-hidden="true")

block content
  +nav(title)
  div.container
    .content-wrapper
      h1= title
      br
      table.table.table-stripped.table-bordered
        thead
          tr
            th Done
            th Warehouse
            th Section
            th Code
            th Quantity
        tbody(id='pickingTable')
          each val in toPick
            +linha(val)
