extends layout
include templates/navbar

mixin route(s)
	tr
		td #{s.dateFormated}
		td #{s.objects.length}
		if (s.finished)
			td Finished
		else
			td In progress
		td
			+actions(s.id)

mixin actions(route)
	a.btn.btn-xs.btn-primary(href='/routes/' + route, role='button' data-toggle='tooltip' data-placement='bottom' title='Route details')
		span.glyphicon.glyphicon-edit(aria-hidden='true')

	a.btn.btn-xs.btn-danger.action-btn-move-left.btn-delete-route(href="", data-route-id=route role='button' data-toggle='tooltip' data-placement='bottom' title='Delete route')
		span.glyphicon.glyphicon-trash(aria-hidden='true')

block content
	+nav(title, level)
	script(src='/js/routes.js')
	div.container
		.content-wrapper.routes-wrapper
			h1= title

			table.datatable.table.table-stripped.table-bordered
				thead
					tr
						th Creation Date
						th Item Count
						th Status
						th Action
				tbody
					each val in routes
						+route(val)
	
	div#deleteConfirmModal.modal.fade(tabindex="-1" role="dialog")
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close") 
						span(aria-hidden="true") &times;
						input#deletedRouteId(type="hidden") 
					h4.modal-title Delete picking route

				div.modal-body
					span Are you sure that you want to delete route?
				div.modal-footer
					button.btn.btn-danger(type="button" data-dismiss="modal") No
					button#btnConfirmDeleting.btn.btn-success(type="button" data-dismiss="modal") Yes
