extends layout
include templates/navbar

mixin route(s)
	tr
		td #{s.date}
		td #{s.objects.length}
		if (s.finished)
			td Finished
		else
			td In progress
		td
			+actions(s.id)

mixin actions(route)
	a.btn.btn-xs.btn-primary(href='/routes/' + route, role='button' data-toggle='tooltip' data-placement='bottom' title='Route details')
		span.glyphicon.glyphicon-edit(aria-hidden='true')

block content
	+nav(title, level)
	div.container
		.content-wrapper.routes-wrapper
			h1= title

			table.datatable.table.table-stripped.table-bordered
				thead
					tr
						th Creation Date
						th Item Count
						th Status
						th Action
				tbody
					each val in routes
						+route(val)
