extends layout
include templates/navbar

mixin warehouse(wh)
  tr
    td #{wh.Nome}
    td #{wh.Morada}
    td #{wh.Localidade}
    td
      +actions(wh.Nome)

mixin actions(warehouse)
  a.btn.btn-default(href='/inventory/' + warehouse, role='button' data-toggle='tooltip' data-placement='bottom' title='Inventory')
    span.glyphicon.glyphicon-list-alt(aria-hidden='true')

block content
  +nav(title)
  div.container
    .content-wrapper
      h1= title
      table.datatable.table.table-stripped.table-bordered
        thead
          tr
            th Name
            th Address
            th Location
            th Action
        tbody
          each val in warehouses
            +warehouse(val)
