/*
 *	MAIN
 */
body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.content-wrapper {
	margin-top: 60px;
}
.content-wrapper h1 {
	margin-bottom: 0px;
}
/* TOP NAVIGATION BAR */
#main-logo-small {
	margin-top: -6px;
}
.navbar {
	border-radius: 0px !important;
}
.navbar-default .navbar-toggle {
	border-color: transparent !important;
}
.hide-on-tablet-view {
	display: inherit;
}
.show-on-tablet-view {
	display: inherit;
}
@media (max-width: 767px) {
	.hide-on-tablet-view {
		display: none;
	}
}
@media (min-width: 768px) {
	.show-on-tablet-view {
		display: none;

	}
}

/*
 *	LOGIN
 */
#logo-big {
	text-align: center;
}
#main-logo-big {
	width: 200px;
	height: 200px;
	margin: 18px 0px;
}
.login-wrapper {
	text-align: center;
}
.login-wrapper .input-group {
	width: 28%;
}
.login-form {
	width: 287px;
	display: block;
	margin: 0 auto;
}
@media (min-width: 768px) {
	.login-form {
		width: 387px;
	}
}
.login-form .input-group {
	margin: 0 auto;
	text-align: center;
}
.login-form .input-group input[type="submit"] {
	float: left;
}

/*
 *	DATATABLES
 */
.datatable {
	width: 100% !important;
}
.datatable a {
	/* padding: 8px 12px; */
	margin-right: 2px;
}
.dataTable thead {
	background-color: #18BC9C;
	color: #FFF;
}
.subtable thead {
	background-color: #FFF;
	color: #2C3E50;
}
.pagination li a {
	padding: 8px 16px;
}
.dataTables_wrapper .col-sm-6:nth-child(2) {
	float: right;
}
.dataTables_filter .glyphicon-search {
	right: 19px;
    top: 7px;
    position: absolute;
    float: right;
    background-color: white;
    padding: 4px;
}
.dataTables_filter input[type="search"] {
	width: 300px !important;
}
tr.even {
	background-color: #F9F9F9;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child::before {
	box-shadow: none;
	line-height: 18px;
	text-indent: 3.5px;
	height: 17px;
	width: 17px;
	background-color: #18BC9C;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child::before {
	background-color: #E74C3C;
}

.btn-xs span.glyphicon {
	top: 2px;
}
.btn-text {
	padding-left: 4px;
}
.btn-group > .btn:first-child {
	margin-left: 0px;
	padding: 3px;
	color: inherit;
	border: 0px none;
	background-color: inherit;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	text-align: center;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	text-decoration: none;
	color: inherit;
	background-color: #F9F9F9;
}
/*
 *	ROUTES
 */
 .routes-controls {
 	margin-top: 12px;
 }
 .routes-controls .input-group {
 	float: left;
 	margin-right: 10px;
 	margin-top: 2px;
 }
.routes-controls input, .routes-controls select {
	height: 33px !important;
}
 #datetimepicker {
 	width: 160px;
 }
 .routes-wrapper .dataTables_wrapper .row:nth-child(1) {

 }
/*
 * USERS
 */ 
.modal {
	z-index: 2001;
}
.modal-backdrop {
	z-index: 2000;
}

/*  Sales Items */
 td.details-control:after {
    cursor: pointer;
    top: 8px;
	left: 4px;
	height: 17px;
	width: 17px;
	display: block;
	color: #FFF;
	border: 2px solid #FFF;
	border-radius: 16px;
	box-sizing: content-box;
	font-family: "Courier New",Courier,monospace;
	line-height: 18px;
	text-indent: 4.5px;
	content: "+";
	background-color: #18BC9C;
	margin: 0 auto;
 }
 tr.shown td.details-control:after {
	content: "-";
	background-color: #E74C3C;

 }
/*
 *	USER INFO
 */ 
#userInfo input[type="text"] {
	width: 300px;
	margin-bottom: 22px;
}
@media (max-width: 367px) {
	#userInfo input[type="text"] {
		width: 100%;
	}
}
#userInfo label {
	margin-top: 6px;
}
